.post {
    margin: 1rem 0;
    background: #f4f4f4;

    a {
        color: inherit;
        text-decoration: none;
        display: block;
        padding: 1rem;
    }

    a:hover {
        transition: .5s;
        background: #999999;
    }

    h2 {
        margin-bottom: 0;
    }

    p {
        color: #777777;
        font-size: .8rem;
    }
}

.list-none {
    list-style-type: none;
    margin: 0;
}